@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

#sidebar{
  float: left;
  width: 20%;
  background-color: rgba(0, 0, 0, 0.2);
  height: 700px;
}

#corps {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

#titre {
  margin: 20px;
  margin-top: 70px;
  text-align: center;
}

h1, h2 {
  margin: 0 auto;
  font-family: 'Raleway';
}

li {
  width: 20%;
}

img {
  border-radius: 10px;
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  height: auto;
  width: 70%;
  display: block;
  margin: 20px auto;
}

#tabs {
  margin: 20px auto 20px -15px;
  width: 100%;
}

#oui {
  color: blue;
}

#graph {
  width: 900px !important;
  height: 450px !important;
}
